{% extends 'costs/base_costs.html'%}

 
{% block title %}
		
	Delete Category
{% endblock %}


{% block content %}
<div class="features">

	<form action="{% url 'category_cost_delete_url' pk=category_cost.id%}" method='post'>
		{% csrf_token %}
	<h3>Вы уверены, что хотите удалить объект?<b>"{{category_cost.id}}"</b></h3>
	<a href="{% url 'category_cost_detail_url' pk=category_cost.id%}">Отменить</a>
	<button type="submit" class="btn btn-danger">Удалить</button>
	</form>
	
</div>
{% endblock %} 

