<footer class="bg-custom-dark p-4 w-full">
        <div class="max-w-screen-xl mx-auto flex flex-col md:flex-row justify-between items-start md:items-center">
            <div class="mb-4 md:mb-0">
                <p class="mb-4 text-gray-300">Тут текст</p>
                <div class="flex space-x-4">
                    <a href="#" class="text-white"><i class="fab fa-telegram"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="flex space-x-4 mt-4">
                    <a href="#" class="text-gray-300 font-medium">Оферта</a>
                    <a href="#" class="text-gray-300 font-medium">Политика обработки персональных данных</a>
                </div>
            </div>
            <div class="flex flex-col space-y-2">
                <a href="{% url 'home' %}" class="px-3 py-2 rounded-md font-medium header-link">Главная</a>
                <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Услуги</a>
                <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Клубы</a>
                <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Блог</a>
            </div>
        </div>
</footer>