<header class="bg-custom-dark p-4 w-full">
        <div class="max-w-screen-xl mx-auto flex justify-center space-x-4">
            <a href="{% url 'home' %}" class="px-3 py-2 rounded-md font-medium header-link">Главная</a>
            <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Услуги</a>
            <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Клубы</a>
            <a href="#" class="px-3 py-2 rounded-md font-medium header-link">Блог</a>
        </div>
</header>