{% extends "base.html" %}

{% block title %}Найти объект - квартира{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <h1>Найти объекты</h1>
  <form method="get" >
 <!--   {% csrf_token %}-->
    <table style="width:70%">

      <tr>
        <td>Тип квартиры {{form.type}}</td>
        <td>Площадь квартиры {{form.square_at}}:{{form.square_to}}</td>
        <td>Кол-во комнат {{form.rooms_at}}:{{form.rooms_to}}</td>
        <td>Этаж/ {{form.floor_at}}:{{form.floor_to}}</td>
        <td>Этажность{{form.number_of_storeys_at}}:{{form.number_of_storeys_to}}</td>
        <td>Цена {{form.price_at}}: {{form.price_to}}</td>
      </tr>

      <tr>
        <td>Город{{form.cities}}</td>
        <td>Район{{form.districts}}</td>
        <td>Улица {{form.streets}}</td>
      </tr>
    </table>
    <button type="submit">Искать</button>
  </form>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'register' %}">Sign Up</a>
{% endif %}
    <table>
            <tr>
                 <th style="width:5%">I</th>
                 <th style="width:10%">Город</th>
                 <th style="width:10%">Район</th>
                 <th style="width:10%">Улица</th>
                 <th style="width:5%">Этаж/этажн</th>
                 <th style="width:5%">Ком-т</th>
                 <th style="width:5%">Площадь</th>
                 <th style="width:5%">Цена</th>
                 <th style="width:30%">Инфо</th>
                 <th style="width:10%">Дата создания</th>
            </tr>
        {% for flat in flats%}
            <tr>
                 <td><a href="{{flat.get_absolute_url}}">{{flat.id_object}}</a></td>
                 <td>{{flat.city}}</td>
                 <td>{{flat.district}}</td>
                 <td>{{flat.street}}</td>
                 <td>{{flat.floor}}/{{flat.floors}}</td>
                 <td>{{flat.rooms}}</td>
                 <td>{{flat.square}}</td>
                 <td>{{flat.price}}</td>
                 <td>{{flat.description}}</td>
                 <td>{{flat.created_at}}</td>

            </tr>
        {% endfor %}

        <a href="">

        </table>
{% endblock %}
